@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700&display=swap');
body{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:  #FFF9F4;
}
header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
}
h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}
.color-primary{
    color: #FA804C;
}
.color-secondary{
    color: #363958;

}
.btn-custom{
    background-image: linear-gradient(to bottom, #3D4FF3 0%, #3543BC 100%);
    
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    transition: all .2s;
}
.btn-custom:hover{
    transform: translateY(-2px) scale(1.05);
    color: white;
}


@media only screen and (max-width:576px){
    .mobile-font{
        font-size: 18px;
    }
    .logo-width{
        width: 70% !important;
    }
    

}